.wrapper{ "ng:controller" => 'Lines' }
  .left-div
    %input{ placeholder: 'Введите строку', "ng:model" => "line.data" }
    %button{ "ng:click" => "send_line(line)" }
      Отправить строку

  .right-div
    #Counter
      {{ 0 }} {{ запросов }}

    #LogDiv
      %p{ "ng:repeat" => "item in log_data"}
        {{ item }}
