!!!
%html{"ng-app" => "TestTask", :lang => "ru", 'xmlns:ng' => "http://angularjs.org"}
  %head
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    %title TestTask
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    = stylesheet_link_tag "application", :media => "all"
  %body
    = yield

    = javascript_include_tag "application"
